body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.item-1 {
    grid-column: 1 / span 3;
}
.item-2 {
    grid-row: 2 / span 1;
    grid-column: 3 / span 3;
}
.item-3 {
    grid-row: 3 / span 1;
    grid-column:  1 / span 3;
}
.item-4 {
    grid-row: 4 / span 1;
    grid-column: 3 / span 3;
}
.item-5 {
    grid-row: 5 / span 1;
    grid-column: 1 / span 3;
}


/* create your child rules here:  */
